## Run tracking on existing mask
- Read in the masks folder (in this case you don't need raw data folder)
- Do Tracking

Reading mask in below

In [10]:
from bactrack.widget import get_hierarchies_from_masks_folder
mask_dir = "/Users/sherryyang/Documents/wiggins-lab/debug_phase"
hier_arr = get_hierarchies_from_masks_folder(mask_dir)

In [11]:
from bactrack.tracking import OverlapWeight, IOUWeight, DistanceWeight
w =  OverlapWeight(hier_arr)

Weight function start computing weight matrix
Weight matrix computed, time consuming:1.9023618698120117 sec

In [12]:
from bactrack.tracking import MIPSolver, ScipySolver
solver = ScipySolver(w.weight_matrix, hier_arr)
n, e = solver.solve()

In [13]:
from bactrack import io
masks, edge_df = io.format_output(hier_arr, n, e, overwrite_mask=False)
node_df = io.hiers_to_df(hier_arr)

You are in not overwrite mask mode, the following mask will not be updated.
This is redundant calculation, I will output time comsuimg for you
Total time cost for mask regeneration is:

In [14]:
node_df

,value,next,shape,uncertainty,area,centroid,frame,bound,index,label,super
0,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",0,"[[0, 286], [0, 265]]",-1,NaN,NaN
1,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",0,"[[0, 286], [0, 265]]",0,255.0,-1.0
2,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",1,"[[0, 286], [0, 265]]",-1,NaN,NaN
3,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",1,"[[0, 286], [0, 265]]",1,255.0,-1.0
4,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",2,"[[0, 286], [0, 265]]",-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
173,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",86,"[[0, 286], [0, 265]]",86,255.0,-1.0
174,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",87,"[[0, 286], [0, 265]]",87,255.0,-1.0
175,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",87,"[[0, 286], [0, 265]]",-1,NaN,NaN
176,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",88,"[[0, 286], [0, 265]]",-1,NaN,NaN
177,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",88,"[[0, 286], [0, 265]]",88,255.0,-1.0

In [15]:
edge_df

    Source Index  Target Index
0              0             1
1              1             2
2              2             3
3              3             4
4              4             5
..           ...           ...
83            83            84
84            84            85
85            85            86
86            86            87
87            87            88

[88 rows x 2 columns]

### Make a master table for all information contains details links information

In [22]:
import pandas as pd
hier_df = io.hiers_to_df(hier_arr)
merged_df = pd.merge(edge_df, hier_df.add_suffix('_source'), left_on='Source Index', right_on='index_source', how='left')
merged_df = pd.merge(merged_df, hier_df.add_suffix('_target'), left_on='Target Index', right_on='index_target', how='left')

In [23]:
merged_df

,Source Index,Target Index,value_source,next_source,shape_source,uncertainty_source,area_source,centroid_source,frame_source,bound_source,...,next_target,shape_target,uncertainty_target,area_target,centroid_target,frame_target,bound_target,index_target,label_target,super_target
0,0,1,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",0,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",1,"[[0, 286], [0, 265]]",1,255.0,-1.0
1,1,2,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",1,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",2,"[[0, 286], [0, 265]]",2,255.0,-1.0
2,2,3,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",2,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",3,"[[0, 286], [0, 265]]",3,255.0,-1.0
3,3,4,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",3,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",4,"[[0, 286], [0, 265]]",4,255.0,-1.0
4,4,5,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",4,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",5,"[[0, 286], [0, 265]]",5,255.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,83,84,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",83,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",84,"[[0, 286], [0, 265]]",84,255.0,-1.0
84,84,85,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",84,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",85,"[[0, 286], [0, 265]]",85,255.0,-1.0
85,85,86,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",85,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",86,"[[0, 286], [0, 265]]",86,255.0,-1.0
86,86,87,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",86,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",87,"[[0, 286], [0, 265]]",87,255.0,-1.0
87,87,88,"[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5...",None,"(287, 266)",None,76342,"(143.0, 132.5)",87,"[[0, 286], [0, 265]]",...,None,"(287, 266)",None,76342,"(143.0, 132.5)",88,"[[0, 286], [0, 265]]",88,255.0,-1.0